@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.row {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 28px;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --primary: #ff4d30;
}

button {
  cursor: pointer;
}

.container {
  margin: 20px auto;
  max-width: 1480px;
  padding: 0 20px; /* Added padding to the container */
}

.header_container,
.nav_container {
  margin: 20px auto; /* Adjust as needed */
}

/* Nav bar */

nav {
  background-color: transparent;
  height: 100%;
}

.nav_container {
  margin-top: 20px;
}

.nav_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav_logo {
  width: 145px;
  height: auto;
}

.nav_link {
  font-weight: 600;
  padding: 0 10px;
  transition: 300ms ease;
}

.nav_register_button {
  background-color: var(--primary);
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  margin: 10px;
  transition: 300ms ease;
}

.nav_link:hover {
  color: var(--primary);
}

.nav_signin {
  font-weight: 600;
  transition: 300ms ease;
}

.nav_signin:hover {
  color: var(--primary);
}

.nav_register_button:hover {
  box-shadow: 1px 15px 30px 2px rgba(255, 83, 48, 0.35);
}

/* Header */

.header_row {
  max-width: 1480px;
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 100px;
}

.header_car_image_container {
  position: absolute;
  z-index: 2;
  right: 0;
  width: 65%;
  margin-top: -56px;
}

.header_car_image {
  width: 90%;
  height: auto;
}

.header_backround {
  position: absolute;
  top: -15px;
  right: 0px;
  width: 36%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.header_car_image {
  overflow: clip;
}

.orange_big {
  color: var(--primary);
}

.header_h4 {
  font-size: 20px;
}

.header_h1 {
  font-size: 54px;
}

.header_text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  z-index: 3;
  margin-top: 56px;
  gap: 18px;
  align-items: flex-start;
  margin-left: 80px;
}

.button_1,
.button_2 {
  padding: 20px 28px;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 5px;
  font-weight: 700;
  font-size: 16px;
}

.button_1 {
  background-color: var(--primary);
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: 300ms ease;
}

.button_2 {
  background-color: black;
  border: 2px solid transparent;
  transition: 300ms ease;
}

.fa-regular {
  color: white;
  padding: 4px;
}

.button_1:hover {
  box-shadow: 0 10px 15px 5px rgba(255, 83, 48, 0.35);
}

.button_2:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
